@page "/puntocontrols/details"
@using Microsoft.EntityFrameworkCore
@using pruevaDB1.Components.Model
@inject IDbContextFactory<pruevaDB1.Data.pruevaDB1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>PuntoControl</h2>
    <hr />
    @if (puntocontrol is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@puntocontrol.Nombre</dd>
            <dt class="col-sm-2">Orden</dt>
            <dd class="col-sm-10">@puntocontrol.Orden</dd>
            <dt class="col-sm-2">CarreraId</dt>
            <dd class="col-sm-10">@puntocontrol.CarreraId</dd>
        </dl>
        <div>
            <a href="@($"/puntocontrols/edit?idpunto={puntocontrol.IdPunto}")">Edit</a> |
            <a href="@($"/puntocontrols")">Back to List</a>
        </div>
    }
</div>

@code {
    private PuntoControl? puntocontrol;

    [SupplyParameterFromQuery]
    private int IdPunto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        puntocontrol = await context.PuntosDeControl.FirstOrDefaultAsync(m => m.IdPunto == IdPunto);

        if (puntocontrol is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
