@page
@model pruevaDB1.Components.Pages.CarreraPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carrera[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera[0].Ubicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Carrera) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdCarrera">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdCarrera">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdCarrera">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
