@page
@model pruevaDB1.Components.Pages.AtletaPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Atleta[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atleta[0].Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atleta[0].Discapacidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atleta[0].mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atleta[0].password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Atleta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discapacidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdAtleta">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdAtleta">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdAtleta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
