@page "/inscripcions/details"
@using Microsoft.EntityFrameworkCore
@using pruevaDB1.Components.Model
@inject IDbContextFactory<pruevaDB1.Data.pruevaDB1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Inscripcion</h2>
    <hr />
    @if (inscripcion is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">AtletaId</dt>
            <dd class="col-sm-10">@inscripcion.AtletaId</dd>
            <dt class="col-sm-2">CarreraId</dt>
            <dd class="col-sm-10">@inscripcion.CarreraId</dd>
            <dt class="col-sm-2">NumeroDorsal</dt>
            <dd class="col-sm-10">@inscripcion.NumeroDorsal</dd>
            <dt class="col-sm-2">ChipId</dt>
            <dd class="col-sm-10">@inscripcion.ChipId</dd>
        </dl>
        <div>
            <a href="@($"/inscripcions/edit?idinscripcion={inscripcion.IdInscripcion}")">Edit</a> |
            <a href="@($"/inscripcions")">Back to List</a>
        </div>
    }
</div>

@code {
    private Inscripcion? inscripcion;

    [SupplyParameterFromQuery]
    private int IdInscripcion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        inscripcion = await context.Inscripciones.FirstOrDefaultAsync(m => m.IdInscripcion == IdInscripcion);

        if (inscripcion is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
